.list-group-item:first-child {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.list-group-item:last-child {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#sideDeck {
	margin-bottom: 0px;
}

#cardInfo > img, #cardInfo > #divInfo {
	transition: all linear 0.2s;
}

#cardInfo > img.rotate {
	transform: rotate(90deg);
	width: auto;
	padding-left: 124px;
	padding-right: 124px;
}
